<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">File Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-togg<ler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api}">File Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br> <br>
<div class="container">
    <div class="card">
        <div class="card-header"><h2 class="text-center">Edit File</h2></div>
        <div class="card-body">
            <form method="post" role="form" th:action="@{/api/{fileId}(fileId=${file.id})}" th:object="${file}">
                <div class="form-group mb-3">
                    <lable class="form-label">File Name</lable>
                    <input class="form-control" id="fileName" name="fileName" placeholder="Enter File Name" type="text"
                           th:field="*{fileName}"></div>
                <p th:if="${#fields.hasErrors('fileName')}" class="text-danger" th:errors="*{fileName}"></p>
                <div class="form-group mb-3">
                    <lable class="form-label">File Type</lable>
                    <input class="form-control" id="fileType" name="fileType" placeholder="Enter File Type" type="text"
                           th:field="*{fileType}"></div>
                <p th:if="${#fields.hasErrors('fileType')}" class="text-danger" th:errors="*{fileType}"></p>
                <div class="form-group mb-3">
                    <lable class="form-label">Upload Date</lable>
                    <input class="form-control" id="date" name="date" placeholder="Enter Date" type="text"
                           th:field="*{date}"></div>
                <p th:if="${#fields.hasErrors('date')}" class="text-danger" th:errors="*{date}"></p>
                <div class="form-group mb-3">
                    <lable class="form-label">File Download URI</lable>
                    <input class="form-control" id="fileDownloadUri" name="fileDownloadUri"
                           placeholder="Enter File Download URI" type="text" th:field="*{fileDownloadUri}"></div>
                <p th:if="${#fields.hasErrors('fileDownloadUri')}" class="text-danger"
                   th:errors="*{fileDownloadUri}"></p>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>