<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand" th:href="@{/api}">FILE MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api}">File Dashboard</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/api/uploadFile}">Back To Upload Single
                        File</a> <a class="nav-link active" aria-current="page" th:href="@{/api/uploadMultipleFile}">Back
                        To Upload Multiple File</a></li>
            </ul>
        </div>
    </div>
</nav>
<br> <br> <br><h4>ERROR</h4>
<p> This file size is to large! cannot Upload this file </p></body>
</html>