<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">FILE MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div th:if="${param.logout}">
            <div class="alert alert-success"> You have been logout</div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api/uploadFile}">Add New
                    Single File</a> <a class="nav-link active" aria-current="page" th:href="@{/api/uploadMultipleFile}">Add
                    New Multiple File</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br> <br> <br>
<div class="container">
    <div class="row"><h1>List of File</h1></div>
    <br>
    <table class="table table-striped table-hover table-bordered table table-success table-striped">
        <thead>
        <tr>
            <th>File Name</th>
            <th>File Type</th>
            <th>File Download URI</th>
            <th>UploadBy</th>
            <th>UploadDate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${file.fileName}"></td>
            <td th:text="${file.fileType}"></td>
            <td th:text="${file.fileDownloadUri}"></td>
            <td th:text="null"></td>
            <td th:text="${file.date}"></td>
            <td><a class="btn btn-primary" th:href="@{/api/{fileId}/edit(fileId=${file.id})}">Edit</a> <a
                    class="btn btn-info" th:href="@{/api/{fileId}/view(fileId=${file.id})}">View</a> <a
                    class="btn btn-danger" th:href="@{/api/{fileId}/delete(fileId=${file.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>