<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand" th:href="@{/api}">File Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-togg<ler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api}">File Management
                    Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>
<br> <br>
<form method="post" role="form" th:action="@{/api/singleFile}" th:object="${file}" enctype="multipart/form-data">
    <div class="upload-container">
        <div class="upload-header"><h2>UPLOAD FILE</h2></div>
        <br> <br>
        <div class="upload-content">
            <div class="single-upload"><h4>Upload Single File</h4>
                <form id="singleUploadForm" name="singleUploadForm"><input id="singleFileUploadInput" type="file"
                                                                           name="file" class="file-input" required/>
                    <button type="submit" class="primary submit-btn">Submit</button>
                </form>
                <div class="upload-response">
                    <div id="singleFileUploadError"></div>
                    <div id="singleFileUploadSuccess"></div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>