<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand" th:href="@{/api}">File Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-togg<ler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api}">File Dashboard</a>
                </li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/api}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header"><h2 class="text-center">FILE DETAILS</h2></div>
                <div class="card-body"><p>File Name: <strong th:text="${file.fileName}"></strong></p>
                    <p>File Type: <strong th:text="${file.fileType}"></strong></p>
                    <p>Date Upload: <strong th:text="${file.date}"></strong></p>
                    <p>File Download URI: <strong th:text="${file.fileDownloadUri}"></strong></p></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>